<VirtualHost *:80>
   ServerAdmin webmaster@localhost
   ServerName {{ item.name }}
   ServerAlias www.{{ item.name }}
   DocumentRoot /var/www/{{ item.name }}/wordpress
 
   <Directory /var/www/{{ item.name }}/wordpress>
         Options Indexes FollowSymLinks
     AllowOverride all
     Require all granted
   </Directory>
</VirtualHost>
